.wrapper {
  border: none;
  background: transparent;
  cursor: pointer;

  .play {
    @apply relative w-[160px] h-[160px];
    @apply grid place-items-center;
    @apply transform scale-50;
    @apply md:transform md:scale-100;

    &:hover {
      filter: brightness(0.85);
    }
  }

  .ellipse1 {
    @apply absolute;
    @apply z-0;
  }

  .ellipse2 {
    @apply absolute top-[24px] z-10;
  }

  .playBtn {
    @apply absolute;
    @apply z-20;
  }
}
