.wrapper {
  @apply grid gap-[30px] place-items-center pt-[100px] px-[30px];

  .laykold {
    @apply flex flex-col gap-[25px] pb-[60px];
    @apply lg:flex-row lg:gap-[95px];

    .description {
      @apply flex flex-col gap-[40px];
      @apply max-w-[462px];

      h2 {
        @apply text-[42px] font-semibold;
      }

      h3 {
        @apply text-[16px];
      }
    }
  }

  h2 {
    @apply text-[42px] font-semibold;
  }

  h3 {
    @apply text-[16px] text-light-grey;

    p {
      @apply pb-[40px];
    }
  }

  img {
    @apply rounded-[10px];
  }

  .imagesContainer {
    @apply relative;

    .inner {
      @apply absolute top-0;
    }

    .outer {
      @apply absolute top-0;
    }
  }

  .colors {
    @apply grid gap-[9px] grid-cols-12;

    img {
      @apply cursor-pointer;
      transition: all 0.4s;

      &:hover {
        filter: brightness(0.9);
        transform: scale(1.05);
      }
    }
  }
}
