.wrapper {
  @apply mt-[60px] text-[16px];
  @apply flex flex-col items-center justify-end text-center;
  @apply text-white;
  @apply relative;

  .card {
    @apply absolute bottom-[28%];
    @apply w-[100%] pt-[89px] pb-[78px];
    @apply flex flex-col items-center justify-center rounded-[40px] gap-[40px];
    @apply z-10;
    @apply sm:gap-[77px] sm:w-[90%];
    @apply bg-white;
    background-image: url("/img/footer.png");
    background-size: cover;

    img {
      @apply max-w-[216px] max-h-[75px];
    }
    .menu {
      @apply flex flex-col text-light-grey px-[20px];
      @apply sm:flex-row sm:gap-[30px];

      li:hover {
        @apply underline;
        @apply cursor-pointer;
      }
    }

    .socials {
      @apply flex gap-[11px];

      img:hover {
        @apply cursor-pointer;
      }
    }
  }

  .top {
    @apply h-[336px] w-full;
  }

  .bottom {
    @apply flex flex-col gap-[20px] justify-end h-[336px] px-[100px] pb-[30px];
    @apply bg-black;
    @apply w-full;
    @apply relative;
    @apply text-[14px];
    @apply max-[700px]:px-[40px];
    @apply max-[640px]:px-[20px];
    @apply max-[500px]:px-[20px];
    @apply max-[500px]:text-[12px];

    .contact {
      @apply w-full flex items-center justify-between;
    }

    .phone {
      @apply hidden;
      @apply max-[500px]:flex justify-between;
    }
  }
}
