.wrapper {
  .hero {
    @apply mx-[24px] mt-[50px] max-w-[450px];
    @apply flex flex-col gap-[30px];
    @apply sm:mx-[100px];
    @apply lg:mx-[257px] lg:mt-[100px];

    h1,
    h2 {
      @apply text-white;
    }

    h1 {
      @apply text-[32px] leading-normal font-semibold max-w-[398px];
      @apply sm:text-[65px] sm:leading-[82px];
    }

    h2 {
      @apply text-[12px];
      @apply sm:text-[14px];
    }

    .cta {
      @apply px-[35px] py-[10px] rounded-md;
      @apply text-white text-[14px] max-w-[200px];
      @apply bg-green;
      transition: all 0.3s;

      &:hover {
        filter: brightness(0.9);
        transform: scale(1.05);
      }
    }
  }

  svg {
    transition: all 0.3s;
  }

  svg:hover {
    @apply cursor-pointer;
    filter: brightness(1.5);
  }

  .ball {
    @apply absolute top-0 right-0 -z-10;
  }

  .background {
    @apply absolute top-[0px] -z-20;
    @apply w-full;
    @apply h-[721px];

    filter: brightness(0.3);
  }
}
