.wrapper {
  @apply absolute top-0 h-[721px] w-[100vw];
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;

  .hero {
    @apply mx-[24px] mt-[50px] pt-[100px];
    @apply flex flex-col justify-center items-center gap-[30px];
    @apply sm:mx-[100px];
    @apply lg:mx-[257px] lg:mt-[100px];

    h1 {
      @apply md:min-w-[500px];
    }

    h1,
    h2 {
      @apply text-white;
    }

    h1 {
      @apply text-[32px] leading-normal font-semibold;
      @apply sm:text-[44px];
      @apply md:text-[65px] md:leading-[82px];
    }

    h2 {
      @apply text-[12px] pb-[160px] text-center;
      @apply sm:text-[16px];
    }

    svg {
      transition: all 0.3s;
    }

    svg:hover {
      @apply cursor-pointer;
      filter: brightness(1.5);
    }

    .cta {
      @apply px-[35px] py-[10px] rounded-md;
      @apply text-white text-[14px] max-w-[149px];
      @apply bg-green;
    }
  }

  .scrollDown {
    svg {
      @apply pt-[120px];
    }
  }

  .ball {
    @apply absolute top-0 right-0 -z-10;
  }

  .background {
    @apply absolute top-0 -z-20;
    @apply w-[1000px];
    @apply h-[721px];
    object-fit: cover;

    filter: brightness(0.3);
  }
}
