.portfolio {

    // height: 120vh;

    .category {
        text-transform: uppercase;
        font-weight: 700;
        padding-block: 10px;

        @apply transition-all text-black;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding-top: 60px;
        padding-inline: 100px;


        img {
            aspect-ratio: 16 / 9;
            height: auto;
            border-radius: 16px;
        }


    }

    .cards {
        @apply grid grid-cols-2 grid-rows-3 gap-[29px] justify-items-center;
        @apply min-[1140px]:grid-cols-3 min-[1140px]:grid-rows-2;
        @apply pt-[52px];

        a {
            @apply flex flex-col justify-end items-center rounded-[15px];
            @apply cursor-pointer w-full max-w-[360px] h-[260px] p-[20px];

            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.1s;
            filter: brightness(0.9);

            img {
                @apply rounded-[10px];
            }

            h3 {
                @apply text-white font-semibold;
                @apply max-[400px]:text-[12px];
            }

            &:hover {
                transform: scale(1.01);
            }
        }
    }
}