.wrapper {
  @apply flex items-center justify-between py-[10px] px-[32px];
  @apply border-b-[1px] border-grey;

  .logo {
    @apply max-w-[160px];
  }

  .list {
    @apply gap-[30px] text-[16px] text-white;
    @apply hidden;
    @apply md:flex;

    li:hover {
      @apply cursor-pointer;
    }
  }

  .hamburger {
    @apply w-[32px];
    @apply block;
    @apply cursor-pointer;
    @apply md:hidden;
  }
}

.menu {
  @apply absolute top-0 left-0 w-[100vw] h-[100vh] bg-black;

  .list {
    @apply absolute top-[50%] left-[50%];
    @apply text-white text-[44px];
    transform: translate(-50%, -50%);
  }

  .close {
    @apply absolute right-5 top-5;
    @apply cursor-pointer z-10;
  }
}

.tooltip {
  visibility: hidden;
  @apply absolute right-[245px];
  @apply min-w-[255px];
  @apply bg-white text-center rounded-[6px];

  .tooltipContent {
    @apply text-black;
    @apply flex flex-col items-start;
    @apply whitespace-nowrap;
    @apply p-[22px];

    a {
      @apply text-light-grey text-[14px];
      line-height: 240%;

      &:hover {
        @apply text-black font-semibold;

        &::before {
          content: url("/icons/arrow.svg");
          @apply pr-[8px];
        }
      }
    }
  }

  &::before {
    content: "";
    @apply absolute block w-[0px] left-[50%] top-[5px] border-t-0;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
    transform: translate(-50%, calc(-100% - 5px));
  }
}
