.wrapper {
  @apply flex items-center justify-between py-[10px] px-[32px];
  @apply border-b-[1px] border-grey;

  .logo {
    @apply max-w-[160px];
  }

  .list {
    @apply gap-[25px] text-[14px] text-white;
    @apply hidden;
    @apply min-[800px]:flex min-[800px]:items-center;

    li:hover {
      @apply cursor-pointer;
      @apply text-green transform transition-all;
    }

    .contact {
      @apply bg-green px-5 py-2 rounded-[8px];

      &:hover {
        @apply text-white;
      }
    }
  }

  .hamburger {
    @apply w-[32px];
    @apply block;
    @apply cursor-pointer;
    @apply min-[800px]:hidden;
  }
}

.menu {
  @apply absolute top-0 left-0 w-[100vw] h-[100vh] bg-black;

  .list {
    @apply absolute top-[50%] left-[50%];
    @apply text-white text-[44px];
    transform: translate(-50%, -50%);

    a {
      @apply text-[42px] uppercase;
    }
  }

  .close {
    @apply absolute right-5 top-5;
    @apply cursor-pointer z-10;
  }
}

.tooltip {
  visibility: hidden;
  @apply fixed right-[245px];
  @apply min-w-[255px];
  @apply bg-white text-center rounded-[6px];
  @apply shadow-lg;

  .tooltipContent {
    @apply text-black;
    @apply flex flex-col items-start;
    @apply whitespace-nowrap;
    @apply p-[22px];

    a {
      @apply text-light-grey text-[14px];
      line-height: 240%;

      &:hover {
        @apply text-black font-semibold;

        &::before {
          content: url("/icons/arrow.svg");
          @apply pr-[8px];
        }
      }
    }
  }

  &::before {
    content: "";
    @apply absolute block w-[0px] left-[50%] top-[5px] border-t-0;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
    transform: translate(-50%, calc(-100% - 5px));
  }
}
