.background {
  z-index: -10;
  position: absolute;
  left: 0;
  width: 503px;
  height: 600px;
  border-radius: 623px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(177, 176, 185, 0.6) 0%,
    rgba(177, 176, 185, 0) 100%
  );
}

.image {
  @apply rounded-[10px] -z-10;
  @apply transform -translate-x-[60px];
}

.card {
  @apply bg-white;
  @apply flex flex-col gap-[35px];
  @apply w-[526px] h-[541px];
  @apply rounded-[10px];
  @apply pt-[54px] pl-[47px] pr-[44px] pb-[54px];
  @apply transform translate-x-[60px];

  h2 {
    @apply text-[42px] font-semibold;
  }

  p {
    @apply text-[16px] text-light-grey;
    @apply w-[435px];
  }

  .bottom {
    @apply flex gap-[43px];

    .button {
      @apply text-[14px] text-white py-[10px] px-[29px] rounded-[5px] bg-green;
    }

    .logo {
      @apply max-w-[160px];
    }
  }
}

.stat {
  @apply pt-[14px] pr-6 pb-7 pl-8;
  @apply rounded-[10px] min-w-[350px];
  border: 1px solid #7ed957;

  .top {
    @apply flex justify-between  gap-[52px] pb-[17px] mb-[21px];
    @apply border-b-[1px] border-green;

    span {
      @apply text-[69px] font-semibold;
    }

    p {
      @apply text-[18px] text-light-grey;
    }
  }
}
